@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.gradient {
  background: rgb(0, 210, 116);
  background: linear-gradient(
    90deg,
    rgba(0, 210, 116, 1) 0%,
    rgba(45, 237, 151, 1) 37%,
    rgba(100, 218, 255, 1) 100%
  );
}
.page-header {
  margin-top: 4rem;
  font-size: 1.25rem;
  color: #fff;
}
.page-header-about {
  margin-top: 4rem;
  font-size: 1.25rem;
  color: #000;
}
.page-header-about h1 {
  color: rgb(0, 210, 116);
}
.page-header-about h2 {
  color: rgb(0, 210, 116);
}
.links img {
  width: 110px;
  height: 110px;
}
.feature {
  color: #fff;
}
.feature ul {
  padding-left: 2rem;
  list-style-type: none;
}
.feature ul li {
  padding-left: 2rem;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.feature button {
  background-color: rgb(0, 210, 116);
}
.feature a {
  text-decoration: none;
  color: #fff;
}
.icon {
  color: #fff;
  height: 5rem;
  width: 5rem;
  font-size: 1.75rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.gallery {
  background-color: whitesmoke;
}
.gallery img {
  border-radius: 5%;
}
.services {
  color: #fff;
}
.contact {
  margin-top: 70px;
  margin-bottom: 70px;
}
footer {
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 0.75rem;
}
footer a {
  text-decoration: none;
  font-size: 1.25rem;
}
/** Staff section **/

.Staff {
  margin-top: 70px;
  background: #fff;
  padding-top: 50px;
  position: relative;
}
.text {
  margin-top: 45px;
  background: #fff;
  padding: 0px 30px 60px 30px;
  box-shadow: 3px 0 62px rgba(13, 3, 3, 0.2);
  border-radius: 10px;
  transition: ease-in all 0.5s;
  margin-bottom: 30px;
}

.text i {
  margin: 0;
}

.text i img {
  border-radius: 50%;
  box-shadow: 3px 0 62px rgba(13, 3, 3, 0.18);
  margin-top: -50px;
}

.text h3 {
  color: #151515;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  padding-top: 42px;
  text-transform: uppercase;
}

.text p {
  padding: 20px 0 40px 0;
  color: #0f100d;
  line-height: 28px;
  font-weight: normal;
}

.title {
  text-align: center;
  padding-bottom: 60px;
}

.title h2 {
  text-transform: uppercase;
  font-size: 45px;
  color: rgb(0, 210, 116);
  line-height: 50px;
  font-weight: 600;
  padding: 0;
  display: inline-block;
}
.flexrow {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#efect:hover .text {
  background: #fafaf9;
  transition: ease-in all 0.5s;
}
.video {
  margin-top: 70px;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
}
.video h2 {
  margin-bottom: 40px;
}
